/* DIALOG */
.dialog {
    position: fixed;
    z-index: 99999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}
    /* Dialog main */
    .dialog__main { 
        width: 444px;
        min-width: 444px;
        padding: 32px;
        background-color: #FFF;
        border-radius: 3px;
    }
        /* Dialog content */
        .dialog__content {
            height: 62px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
        }
            /* Dialog icon */
            .dialog__icon {
                width: 48px;
                height: 48px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            /* Dialog message */
            .dialog__message {
                font-size: 14px;
                padding: 12px 0 0 16px;
                font-family: Notosans-Regular;
            }
        /* Dialog separate */
        .dialog__separate {
            height: 1px;
            margin-bottom: 20px;
            background: #b8bcc3;
        }
        /* Dialog control */
        .dialog__control {
            height: 36px;
            display: flex;
            justify-content: space-between;
        }
        /* Khi error hoặc warn thì bỏ yes, no */
        .dialog--error .dialog__control {
            justify-content: center;
        } 
        .dialog--warn .dialog__control {
            justify-content: flex-end;
        } 
            /* Dialog cancel */
            /* Khi confirm thì ẩn cancel đi, chỉ có yes no */
            .dialog--confirm .dialog__cancel {
                display: none;
            } 
            /* Dialog answer */
            .dialog__answer {
                display: flex;
            }
            .dialog--warn .dialog__answer,
            .dialog--error .dialog__answer {
                display: none;
            }
            .dialog--confirm .dialog__answer {
                flex: 1;
                justify-content: space-between;
            } 

            .button--green {
                background-color: #48a000 !important;
                color: #fff;
            }