.productdetail {
    min-width: 500px;
    .productdetail__img {
        width: 100%;
        height: 300px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        position: relative;
        border: 1px solid #ccc;
    }

    .productdetail__price {
        font-size: 30px;
        color: rgb(168, 1, 1);
        font-family: Notosans-Bold;
    }

    .productdetail__oldprice {
        text-decoration: line-through;
        color:rgb(70, 70, 70);
        font-size: 24px;
        font-family: Notosans-Semibold;
    }
}