$color: rgba(255,255,255, 0.9);

.logo {
    color: $color;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 40px;
    cursor: pointer;
    .logo__icon {
        margin-right: 10px;
        font-size: inherit;
    }
    .logo__shop-name {
        font-family: SquidGame;
        letter-spacing: 4px; 
        font-size: inherit;
    }
}