.toast-message {
    position: fixed;
    z-index: 10000000;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-radius: 8px;
    animation: 0.4s ease toastMessageFadeIn;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    &.toast-message--success {
        border: 1px solid #2CA01C;
    }
    &.toast-message--warn {
        border: 1px solid #FCE100;
    }
    &.toast-message--error {
        border: 1px solid #FF7777;
    }
    &.toast-message--info {
        border: 1px solid #0075C0;
    }
}
    .toast-message__main {
        display: flex;
        align-items: center;
    }
        .toast-message__icon {
        }
            
        .toast-message__content {
            font-size: 16px;
            color: #111;
            padding-left: 10px;
            font-family: Notosans-Regular;
        }
    .toast-message__cancel {
        margin: 5px 5px 5px 20px;
        cursor: pointer;
    }
        .toast-message__cancel::before {
            display: block;
            content: "";
            background: url('/src/assets/svg/Sprites.6114dba8.svg') no-repeat -1322px -362px;
            width: 12px;
            height: 12px;
        }

@keyframes toastMessageFadeIn {
    0% {
        opacity: 0.6;
        transform: translate(-50%, -50%);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, 0);
    } 
}